.Back_Board{
    background-color: grey;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSImre7gJ5DpKYzyYnyZ8BQ98EnnpMkYy7lwSfSKs7Qll4UxsT7RiHS61FE&s=10.jpg");
    color: pink;
}